.screen-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);

  border-radius: 30px;

  background-color: #19376c;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #233656, #19376c),
    repeating-radial-gradient(
      circle at center 100px,
      #233656,
      #233656,
      40px,
      transparent 80px,
      transparent 80px
    );
  background-blend-mode: multiply;
}
